# Database for Docker container
DB_HOST=db
DB_PORT=5432
DB_USER=your_docker_db_user
DB_PASSWORD=your_docker_db_password
DB_NAME=your_docker_db_name

# Local database (for development outside Docker)
LOCAL_HOST=localhost
LOCAL_USER=your_local_db_user
LOCAL_PASSWORD=your_local_db_password
LOCAL_DB=your_local_db_name

#ETL mode. The ETL process can run once, or keep running in background at certain intervals
#Can be set to 'interval' or 'once'
ETL_MODE=once
#minutes between intervals
ETL_INTERVAL=10

# Old Specialisterne API token
SPEC_TOKEN=your_api_token_here

# New Specialisterne API token
NEW_SPEC_TOKEN=